.stylist {
  font-family: "Russo One", sans-serif;
  color: rgb(56, 56, 56);
}
.darkStyle {
  color: #f9f4ff;
}
.darkColor {
  color: #fff;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.top_menu_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1.4rem;
}
.top_menu_container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.8rem;
}
.menu_top_item {
  text-decoration: none;
  color: #929292;
  transition: color ease 0.2s;
  font-size: 0.7rem;
}
.setColor {
  color: #929292;
  transition: color ease 0.1s;
}
.menu_top:hover a,
.menu_top:hover .setColor {
  color: #000;
}

.menu_bottom_section_toggle {
  width: 240px;
  text-align: end;
  display: none;
  vertical-align: middle;
}

.responsive_menu {
  width: 0px;
  transition: all ease-in 0.3s;
}

.responsive_menu_open {
  transition: all ease-in 0.3s;
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .menu_bottom_section_toggle {
    display: block;
  }
  .menu_bottom_section {
    display: none;
  }
  .searchBar {
    padding: 0.4rem 0.2rem;
  }
  .searchIcon {
    width: 32px !important;
    height: 32px !important;
  }
}
@media screen and (max-width: 900px) {
  .menu_wrapper_container {
    width: min(100% - 0rem, 155ch) !important;
  }

  .logo {
    width: 75px;
    height: 75px;
  }
  .top_menu_Link_container {
    display: none !important;
  }

  .top_menu_container {
    padding: 0 !important;
    margin: 0;
    width: 100px;
    align-content: end;
  }
}

@media screen and (max-width: 690px) {
  .logo {
    width: 55px;
    height: 55px;
  }
  .logo_section {
    flex-direction: column !important;
    align-items: flex-end !important;
  }
  .weatherimageBox {
    width: 30px;
  }
  .temperature {
    font-size: 14px;
  }
  .weather_content {
    min-width: 215px !important;
  }
}
.weather_content {
  display: flex;
  align-items: flex-start;
  background: #2c318d;
  gap: 10px;
  padding: 0.1rem 0.8rem;
  z-index: 1000;
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 400ms;
  border-radius: 5px;
  color: #fff;
  min-width: 250px;
  cursor: pointer;
}
.topcontent {
  margin-top: 7px;
}
.weatherDescription {
  line-height: 0.8rem;
  font-size: 11px;
  color: #e1e5eb;
}
.weatherimageBox {
  border-radius: 50%;
  border-left: 2px solid #f9f4ff;
}
